{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>图书漂流</title>

    <link rel="stylesheet" href="{% static '/books/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/books/css/books.css' %}">
</head>
<body>
{#  导航栏  #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'books:book-view' %}">BookCrossing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
           <li class="nav-item">
        <a class="nav-link" href="{% url 'books:user-view' %}">个人中心</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{% url 'password_reset' %}?next={{ request.path }}">更改密码</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">注销</a>
      </li>
          {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">登录 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:register' %}">注册</a>
      </li>
{% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0"  method="get" id="search" action="{% url 'books:search' %}">
         {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入书名/内容" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>
{#body部分 TODO：1.瀑布流  2.分类筛选 3.Ajax 4.判断是否登录 5.上传页面#}
<div class="container">
{# TODO：添加分类检索功能 #}
<div class="nameTag">
    <h4 class="name-tag">南京工业大学读书漂流</h4>
</div>
  <div class="row">
    {% if err_message %}
        <p>{{ err_message }}</p>
    {% else %}
        {% for book in book_list %}
        <div class="col-lg-3 col-sm-6 push-item">
            <div class="card h-50">
                <a class="img-style" href="detail/{{ book.id }}"><img class="card-img-top" src="{{ book.good_img.url }}" /></a>
                <div class="book_info">
                    <h4 class="card-body book-name">
                        <a href="detail/{{ book.id }}">{{ book.good_name }}</a>
                    </h4>
                </div>
            </div>
        </div>
        {% empty %}
            <div>暂时还没有您需要的书</div>
        {% endfor %}
    {% endif %}
</div>
  </div>
<div class="rsidebar span_1_of_left"></div>


{##}
{# 卡片式商品   #}
{#    <div class="row">#}
{#    {% if err_message %}#}
{#        <p>{{ err_message }}</p>#}
{#    {% else %}#}
{#        {% for book in book_list %}#}
{#        <div class="col-lg-3 col-sm-6 push-item">#}
{#            <div class="card h-50">#}
{#                <a href="detail/{{ book.id }}"><img class="card-img-top" src="{{ book.good_img.url }}" /></a>#}
{#                    <h4 class="card-body">#}
{#                        <a href="detail/{{ book.id }}">{{ book.good_name }}</a>#}
{#                    </h4>#}
{#                    <p class="card-text">{{ book.good_context }}</p>#}
{#            </div>#}
{#        </div>#}
{#        {% empty %}#}
{#            <div>暂时还没有您需要的书</div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#    </div>#}
{##}
{# 页码 #}
    <ul class="pagination justify-content-center">
        {% if book_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'books:book-view' %}?page={{ book_list.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">上一页</span>
            </a>
        </li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if num == currentPage %}
                <li class="page-item active"><a onclick="send()" href="{% url 'books:book-view' %}?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a href="{% url 'books:book-view' %}?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if book_list.has_next %}
            <li class="page-item">
            <a class="page-link"  href="{% url 'books:book-view' %}?page={{ book_list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">下一页</span>
            </a>
        </li>
        {% endif %}
    </ul>



</div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">sdfsdfsdfsd</p>
        </div>
    </footer>


<script src="{% static '/books/jquery/jquery.min.js' %}"></script>
<script src="{% static '/books/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'books/js/book.js' %}"></script>
</body>
</html>