{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static '/books/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/books/css/detail.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'books:book-view' %}">BookCrossing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
           <li class="nav-item">
        <a class="nav-link" href="{% url 'books:user-view' %}">个人中心</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{% url 'password_reset' %}?next={{ request.path }}">更改密码</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">注销</a>
      </li>
          {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">登录 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:register' %}">注册</a>
      </li>
{% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0"  method="get" id="search" action="{% url 'books:search' %}">
         {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入书名/内容" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-lg-9 good9">
                <div style="background-color: #1e7e34"></div>
            </div>
            <div class="col-lg-3 good3">
                <div class="widget owner-info">
                    <div class="title"><h2>看看他的其他图书/联系他</h2></div>
                    <div class="">
                        <form action="#">
                            <label>给他留言<textarea id="inputMessage"></textarea></label>
                            <input type="submit" class="btn btn-primary" value="发送" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <script src="{% static 'books/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'books/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>