{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static '/books/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/books/css/detail.css' %}">
    <link rel="stylesheet" href="{% static '/books/css_lib/button.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'books:book-view' %}">BookCrossing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
           <li class="nav-item">
        <a class="nav-link" href="{% url 'books:book-view' %}">随便逛逛</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{% url 'password_reset' %}?next={{ request.path }}">更改密码</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">注销</a>
      </li>
          {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">登录 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:register' %}">注册</a>
      </li>
{% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0"  method="get" id="search" action="{% url 'books:search' %}">
         {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入书名/内容" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

{#    main#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 my-main">
                <div class="book-name"><h1>{{ book_obj.good_name }}</h1></div>
                <div class="book-info">
                    <div class="book-img row">
                        <div class="col-lg-1"><button class="pre-btn btn btn-primary"></button></div>
                        <div class="col-lg-3"><img class="pre-img" src="{{ book_obj.good_img.url}}" alt="" /></div>
                        <div class="col-lg-4 current"><img class="current-img" src="{{ book_obj.good_img.url }}" alt="img" /></div>
                        <div class="col-lg-3"><img class="next-img" src="{{ book_obj.good_img.url }}" alt="" /></div>
                        <div class="col-lg-1"><button class="next-btn btn btn-primary"></button></div>
                    </div>
                    <div class="book-content">
                        <div class="owner-info">
                            <p>拥有者：{{ book_obj.good_owener }}</p>
                            <p>{{ book_obj.good_owener.user_info }}</p>
                            <p>漂流成功次数：{{ book_obj.good_owener.user_stars }}</p>
                            <p>学号：{{ book_obj.good_owener.user_number }}</p>
                        </div>
                        <p class="user-word">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ book_obj.good_context }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-sidebar">
                <div class="s-owner">
                    <h3>漂流者信息</h3>
                    <div class="s-owner-info">
                        <img src="{% static '/books/images/emma-small.png' %}" alt="头像">
                       <div>
                        <h4>{{ book_obj.good_owener }}</h4>
                        <p>{{ book_obj.good_owener.user_info }}</p>
                        <p>漂流次数：{{ book_obj.good_owener.user_stars }}</p>
                       </div>
                    </div>
                </div>
                <div class="s-contact">
                    <h3>联系他</h3>
                    <div class="contact-inner">
                        <form action="#">
                            <div class="control-group">
                                <label for="inputName" class="control-label">姓名</label>
                                <div class="controls">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputName" class="control-label">你的联系方式</label>
                               <div class="controls"><input type="text" required></div>
                            </div>
                            <div class="message-warpper">
                                 <label for="inputName" class="control-label">留言</label>
                                <div class="controls"><textarea class="control-message" type="text" required></textarea></div>
                            </div>
                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="latest-book"></div>
            </div>
        </div>
    </div>
{#    main end#}
{#footer start#}
        <footer class="py-5 bg-dark link text-center">
            <div>邮箱：1227085585@qq.com</div>
            <div><a class="link" href="https://github.com/TrumanGu">GitHub</a></div>
            <div>联系我们</div>
        <p> </p>
        <div class="text-center"><p class="link">Copyright &copy; 2018 - All Rights Reserved -</p></div>
    </footer>
{#footer end#}
     <script src="{% static 'books/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'books/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>